@font-face {
  font-family: "Pretendard-Regular";
  src: url("https://fastly.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff")
    format("woff");
  font-weight: 400;
  font-style: normal;
}

html,
body {
  font-family: "JNE-Ttobak-TTF-Extrabold", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#customHeader {
  width: 100%;
  height: 5%;
  position: fixed;
  top: 0;
  border-bottom: 1px solid #ccc; /* 옅은 회색의 border 추가 */
  display: flex;
  align-items: center;
  justify-content: space-between;
}

#teamLogoContianer {
  display: inline;
}

#teamLogoContianer img {
  margin: 10px;
  width: 30px;
  height: 30px;
}

#leftSidebar-wrapper {
  z-index: 2000;
  box-shadow: 5px 5px 3px rgb(0, 0, 0, 0.1);
}

#rightSidebar-wrapper {
  z-index: 2000;
  box-shadow: -5px 5px 3px rgb(0, 0, 0, 0.1);
}

.transition-width {
  transition: width 0.3s ease-in-out;
}

#customHeader {
  z-index: 2500;
}

#leftSidebarBtn {
  background-color: white;
  border: none;
  border-radius: 0 10px 10px 0;
  height: 20%;
  color: black;
  box-shadow: 5px 5px 3px rgb(0, 0, 0, 0.1);
}

#rightSidebarBtn {
  background-color: white;
  border: none;
  border-radius: 10px 0 0 10px;
  height: 20%;
  color: black;
  box-shadow: -5px 5px 3px rgb(0, 0, 0, 0.1);
}

.hidden-content {
  transition: opacity 0.1s step-end; /* 서서히 나타나는 효과 추가 */
  opacity: 0; /* 내용 숨기기 */
}

.show-content {
  transition: opacity 0.2s step-end; /* 서서히 나타나는 효과 추가 */
  opacity: 1; /* 내용 표시 */
}
